body
{
    background-color: #21cbef;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#page
{
    width: 95%;
    margin: auto;
}

#titrePrincipal
{
    background: url(homSimBack.jpg) no-repeat;
    background-size: 100% 150%;
    border: 0.2em gray solid;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.3em 0.3em darkslategray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img
{
    border: 0.2em black solid;
    border-radius: 0.5em;
}

h1
{
    width: 80%;
    font-size: 5em;
    color: darkred;
    font-family: 'Bangers', cursive, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0.2em 0.3em 0.1em black;
}

h2
{
    border: 0.1em black solid;
    background-color: blanchedalmond;
    border-radius: 0.5em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
    text-align: justify;
}

#blocPage
{
    width: 85%;
}

#blocPage, #liseret
{
    display: inline-block;
    vertical-align: top;
}

#liseret
{   
    width: 10%;
    margin-right: 3%;
    height: 600px;
    background-image: url('homSimLis.png');
    border-radius: 10px;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}