body
{
    background-color: #21cbef;
    color: darkblue;
    font-family: 'Calligraffitti', cursive, 'Arial Black', Arial, Impact;
}
#page
{
    width: 95%;
    margin: auto;
}
#titrePrincipal
{
    background: url(homSimBack.jpg) no-repeat;
    background-size: 100% 150%;
    border: 0.1em gray solid;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.1em darkslategray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header p
{
    text-align: center;
}
h1
{
    width: 80%;
    font-size: 5em;
    color: darkslateblue;
    font-family: 'comic sans MS', Geneva, Tahoma, sans-serif;
}
section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}


#blocPage
{
    width: 85%;
}
#blocPage, #liseret
{
    display: inline-block;
    vertical-align: top;
}

#liseret
{   
    width: 10%;
    margin-right: 3%;
    height: 600px;
    background-image: url('homSimLis.png');
    border-radius: 10px;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}